<div id="loader-container">
  <div class="loader-container-flex">
    <svg class="loader1" fill="#FFF" height="80" viewBox="0 0 55 80" width="55" xmlns="http://www.w3.org/2000/svg">
        <g transform="matrix(1 0 0 -1 0 80)">
          <rect height="20" rx="3" width="10" style="fill: #F9CE00"></rect>
          <rect height="80" rx="3" width="10" x="15" style="fill: #F9CE00"></rect>
          <rect height="50" rx="3" width="10" x="30" style="fill: #F9CE00"></rect>
          <rect height="30" rx="3" width="10" x="45" style="fill: #F9CE00"></rect>
        </g>
      </svg>
      <h2>We are working 😉 </h2>
  </div>
</div>

<div class="black-container">
  <div class="title-container-img">
    <div class="title-container-linear">
      <div class="flex-align-colle">
        <h2>A SIMPLE TOOL TO FIND FESTIVALS <strong>/ FITTING WITH YOUR MUSICAL TASTES</strong></h2>
      </div>
      <div class="main-title">
      <h1>Get To The</h1>
      <h1>Fest</h1>
      </div>
      <div class="left">
        <p>Discover festivals you could like by matching artists you follow on Spotify - It's really simple, all you have to do is to click below</p>
      </div>
      <br>
      <br>
        <%= link_to omniauth_authorize_path(:user, :spotify), class: "btn-get", id: "connect-spotify" do %>
        <span class="btn-get-text"><i class="fab fa-spotify"></i>Connect</span>
        <% end %>
      <!-- <img src="images/roc.png" alt=""> -->
    </div>
  </div>
  <div class="title-container" id="about-anchor">
    <div class="about">
      <div class="about-algorithm">
        <h2 class="text-center">How it works</h2>
        <p class="text-center">
        As you connect with your Spotify account, our app goes and fetches your favorite artists and figures out artists your could like. </br>
      Our algorithm then compares those artists with Festival line-ups from all over the country to find the festival that matches. </br>
      Finally, our app shows you the 15 best festival matches for you with a customised playlist ! Get ready for the fest 🚀
    </p>
    <p class="text-center">Scores computation details:</p>
    <ul class="text-center">
      <li>one top artist = 1000</li>
      <li>one top track = 300</li>
      <li>one saved track = 200</li>
      <li>one related artist = 100</li>
    </ul>
  </br>
  <p class="text-center">Examples</p>

  <div class="about-examples">
    <div class="about-small">
      <%= image_tag "http://res.cloudinary.com/punkachiendu75/image/upload/c_scale,h_150,w_150/v1520506335/Gorillaz.jpg", :class => "team_pic" %>
      <p>Gorillaz is one of my top artists, I saved 9 songs by this band among their albums</p>
      <p>Every festival with Gorillaz in the line-up receive 2800 stars</p>
    </div>

    <div class="about-small">
      <%= image_tag "http://res.cloudinary.com/punkachiendu75/image/upload/c_scale,h_150,w_150/v1520506335/Lomepal.jpg", :class => "team_pic" %>
      <p>Among my top tracks there are 3 songs by Lomepal, I saved one of those tracks </p>
      <p>Every festival with Lomepal in the line-up receive 1100 stars</p>
    </div>
  </div>
  <div class="navigation">
  <a href="#team-anchor" id="chevron"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
</div>

</div>

  </div>
  <div class="title-container-team" id="team-anchor">
    <div class="about">
      <h2>The team</h2>
      <div class="team">
        <div class="team_desc">
        <%= image_tag "http://res.cloudinary.com/punkachiendu75/image/upload/v1520424039/christopher_cardoso.png", :class => "team_pic" %>
          <p>Christopher</p>
          <p class="about-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
        <div class="team_desc"><%= image_tag "http://res.cloudinary.com/punkachiendu75/image/upload/v1520424039/loic_chesneau.png", :class => "team_pic" %>
          <p>Loïc</p>
          <p class="about-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        </div>
        <div class="team_desc"><%= image_tag "http://res.cloudinary.com/punkachiendu75/image/upload/v1520424039/jessica_lesly.png", :class => "team_pic" %>
          <p>Jessica</p>
          <p class="about-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        </div>
        <div class="team_desc"><%= image_tag "http://res.cloudinary.com/punkachiendu75/image/upload/v1520424039/clement_simons.png", :class => "team_pic" %>
          <p>Clément</p>
          <p class="about-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

<div class="footer">
<div class="footer-copyright">
  Follow us <i class="fa fa-headphones" aria-hidden="true"></i>
</div>
<div class="footer-copyright text-center">
Created at Le Wagon </br> Festival data provided by SongKick
</div>
<div class="footer-links">
  <a href="#"><i class="fab fa-github"></i></a>
</div>
</div>
