<div class="navbar-gttf">
<!-- Logo -->
  <a href="/" class="navbar-gttf-brand">
    <!-- <img src="images/logo.png" alt="logo"> -->
  </a>

  <!-- Right Navigation -->
  <div class="navbar-gttf-right hidden-xs hidden-sm">

    <!-- <a href="" class="navbar-gttf-item navbar-gttf-link">Favorites</a>
    <a href="" class="navbar-gttf-item navbar-gttf-link">Settings</a> -->
    <%= link_to "All festivals", match_path, class: "navbar-gttf-item navbar-gttf-link" %>
    <%= link_to destroy_user_session_path, class: "navbar-gttf-item navbar-gttf-link", method: "delete" do %>
      <%= t(".sign_out", default: "Log out") %>
    <% end %>

  <!-- Profile picture with dropdown list -->
    <div class="navbar-gttf-item">
      <div class="dropdown">
        <!-- <img src="<%#=image_path("rock-hand.png")%>" class="avatar" id="navbar-gttf-menu" data-toggle=""> -->
        <%= link_to root_path do %>
          <img src="<%=image_path('rock-hand.png')%>", class="avatar", id="navbar-gttf-menu" data-toggle="">
        <% end %>
        <!-- <ul class="dropdown-menu dropdown-menu-right navbar-gttf-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Log Out</a></li>
        </ul> -->
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-gttf-item hidden-md hidden-lg">
    <div class="dropdown">
      <!-- <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-gttf-dropdown-menu">
        <li><a href="#">Host</a></li>
        <li><a href="#">Trips</a></li>
        <li><a href="#">Messagese</a></li>
      </ul> -->
    </div>
  </div>
</div>



<!-- Beginning of the filtered menu -->

  <div class= "searchbar-icon" id= "searchicon">
    <div class="background-filter" id="search-filter">
      <%= form_tag match_path, method: :get, class: 'form-inline' do %>
        <%= text_field_tag :start_date,
            @start_date,
            class: "form-control filter_style", id: "range_start",
            placeholder: "Start at" %>
        <%= text_field_tag :end_date,
            @end_date,
            class: "form-control filter_style", id: "secondRangeInput",
            placeholder: "End at" %>
      <%= text_field_tag :localisation,
        params[:localisation],
        class: "form-control filter_style", id: "fest_address",
        placeholder: "Localisation" %>
   <!--    <#%= text_field_tag :query,
        params[:query],
        class: "form-control filter_style",
        placeholder: "Genre" %> -->
      <%= text_field_tag :artist,
        params[:artist],
        class: "form-control filter_style",
        placeholder: "Artiste" %>
      <%= submit_tag 'Rechercher', class: 'button-search' %>
    <% end %>
  </div>
  </div>
    <div  id= "nav-icon2">
        <i class="fas fa-search"></i>
    </div>
<!-- End of the filtered menu -->

<!-- Results -->
<div class="yellow-container-results">
  <div class="container">
    <div class="row">
      <% if @festivals.nil? %>
        <div class="col-md-8 col-md-offset-2">
          <h2>Sooooorryyyyyyyyy</h2>
        </div>
      <% end %>
      <% counter = 0 %>
      <% animal_counter = 0 %>
      <div class="col-md-8 col-md-offset-2">
        We have <%= @nb_fest_in_db %> festivals in db,
        <%= @nb_fest_match %> festivals matched with your <%= @nb_artists_user %> spotify artists, based on <%= @nb_saved_tracks %> tracks you saved!

        <% if params[:sort] %>
          <%= link_to "Back to original algorithm", match_path(start_date: params[:start_date], end_date: params[:end_date], localisation: params[:localisation], artist: params[:artist]) %>
        <% else %>
          <%= link_to "Discovery", match_path(sort: "discovery", start_date: params[:start_date], end_date: params[:end_date], localisation: params[:localisation], artist: params[:artist]) %>
        <% end %>
      </div>
      <% @festivals.each do |festival|  %>
        <% counter += 1 %>
        <div class="col-md-8 col-md-offset-2">
          <div class="card-black">
            <!-- Front of the card -->
            <div class="front">
              <div class="pad">
                <h2 id="title-fest" style="font-family: 'Lobster', cursive;" ><%= festival.name.downcase.capitalize %></h2>
                <div id="title-place">
                  <div class="flex-align-colle">
                    <h2 id="city" style="font-family: 'Roboto', sans-serif;"><%= festival.city %></h2>
                    <h2 class="text-bold" id="country" style="font-family: 'Roboto', sans-serif;">/ <%= festival.country.upcase %></h2>
                  </div>
                </div>
                <div class="title-affinity" style="font-family: 'Roboto', sans-serif;">
                  <h2 style="font-size: 40px; font-family: 'Lobster', cursive;"><%= festival.affinity %>pts</h2><span style="font-family: 'Lobster', cursive;">affinity</span>
                </div>
                <div class="card-date" style="font-family: 'Roboto', sans-serif;">
                  <h3 class="month" style="font-family: 'Roboto', sans-serif;"><%= Time.parse(festival.start_date).strftime('%B').upcase %></h3>
                  <h2 class="day" style="font-family: 'Lobster', cursive;"> <%= Time.parse(festival.start_date).day %> </h2>
                  <h3 style="color:white; margin:0; font-weight:bold; font-family: 'Roboto', sans-serif;">>></h3>
                  <h3 class ="month" style="font-family: 'Roboto', sans-serif;"><%= Time.parse(festival.end_date).strftime('%B').upcase %></h3>
                  <h2 class="day" style="font-family: 'Lobster', cursive;"><%= Time.parse(festival.end_date).day %></h2>
                </div>
                <!-- <span class="check" style="font-family: 'Roboto', sans-serif;">Check the </span> --><span class="line" style="font-family: 'Lobster', cursive;">Line Up</span>
                <div class="btn-turn">
                  <div class="btn-get-turn"><p><i class="fas fa-arrow-right"></i></p></div>
                </div>
              </div>
            </div>
            <!-- Back of the card -->
            <div class="back">
              <div class="btn-line-up">
                  <div class="btn-get-line-up">X</div>
              </div>
              <h2 id="title-fest" style="font-family: 'Lobster', cursive;" ><%= festival.name.downcase.capitalize %></h2>
              <div id="title-place-back">
                <div class="flex-align-colle">
                  <h2 id="city" style="font-family: 'Roboto', sans-serif;"><%= festival.city %></h2>
                  <h2 class="text-bold" id="country" style="font-family: 'Roboto', sans-serif;">/ <%= festival.country.upcase %></h2>
                </div>
              </div>
              <div class="title-affinity-back" style="font-family: 'Roboto', sans-serif;">
                <h2 style="font-size: 32px; font-family: 'Lobster', cursive;"><%= festival.affinity %>pts<div style="font-family: 'Lobster', cursive;">affinity</div>
              </div>
              <span class="card-date-back" style="font-family: 'Roboto', sans-serif;">
                <span class="day-back" style="font-family: 'Lobster', cursive;"> <%= Time.parse(festival.start_date).day %> </span>
                <span class="month-back" style="font-family: 'Roboto', sans-serif;"><%= Time.parse(festival.start_date).strftime('%B').upcase %></span>
                <span style="color:white; margin:0; font-weight:bold; font-family: 'Roboto', sans-serif;">>></span>
                <span class="day-back" style="font-family: 'Lobster', cursive;"><%= Time.parse(festival.end_date).day %></span>
                <span class ="month-back" style="font-family: 'Roboto', sans-serif;"><%= Time.parse(festival.end_date).strftime('%B').upcase %></span>
              </span>
              <div class="player">
                <iframe src="<%= festival.playlist %>" width="700" height="100" frameborder="0" allowtransparency="true" allow="encrypted-media" style="padding: 10px;"></iframe>
              </div>
            </div>
            <div class="line-up line-up-close">
              <div class="line-up-content line-up-content-close" style="font-family: 'Roboto', sans-serif;">
                <% related = [] %>
                <% other_artists = [] %>
                <% @artists[festival.id].each do |artist| %>
                  <% if artist.score.nil? %>
                    <% other_artists << artist.name %>
                  <% elsif artist.score > 1 %>
                  <div class="content-line-up">
                    <div class="line-up-content-desc-img"><img src=<%="#{Artist.find_by(name: artist.name).picture}"%> style="height: 100px; width: 100px; border-radius: 50%; border: 2px white solid; margin-left: 3px; margin-bottom: 10px;" alt=""></div>
                    <span style="margin-left: 8px; font-weight: bold; font-family: 'Lobster', cursive;"><%= artist.name.capitalize %></span>
                    <span><%= ", is one of your top artists" if artist.is_top_artist %></span>
                    <span><%= ", we found #{pluralize(artist.nb_top_tracks,'track')} tracks in your top tracks" if artist.nb_top_tracks > 0 %></span>
                    <span><%= ", you saved #{pluralize(artist.nb_saved_tracks,'track')}" if artist.nb_saved_tracks > 0 %></span>
                  </div>
                  <% elsif artist.score > 0 %>
                    <% related << artist.name %>
                  <% end %>
                <% end %>
                <% if related.count > 0 %>
                  <div>
                    <%= "#{pluralize(related.count,'artist')} you could like : #{related.join(', ')}" %>
                  </div>
                <% end %>
                <% if other_artists.count > 0 %>
                  <div>
                    <%= "Other artists : #{other_artists.join(', ')}" %>
                  </div>
                <% end %>
              </div>
              <div class="btn-line-up-book">

                  <a target="_blank", href=" <%= festival.tickets_link %> ", class="btn-get-line-up-book">Book tickets</a>
              </div>
            </div>
          </div>
        </div>

        <!-- End of the festival card -->

        <!-- Renard logo -->
        <% if counter%2 == 0 %>
          <% animal_counter +=1 %>
          <% if animal_counter == 1 %>
            <div class="col-md-3 col-md-offset-3">
              <img src="<%=image_path('renard.png')%>" style="margin-top:90px; height: 270px; width: 500px;" alt="">
            </div>
          <% elsif animal_counter == 2 %>
          <div class="col-md-4 col-md-offset-4">
            <img src="<%=image_path('suricate.png')%>" style="margin-top:90px; height: 270px; width: 360px;" alt="">
          </div>
          <% else %>
            <div class="col-md-6 col-md-offset-3">
              <img src="<%=image_path('rat.png')%>" style="margin-top:90px; height: 270px; width: 520px; margin-left: 35px;" alt="">
            </div>
          <% end %>
        <% end %>
      <% end %>

    </div>
  </div>
</div>

<!-- Footer -->
<div class="footer-results">
  <div class="footer-copyright-results">
    <span class="footer-copyright-results-text">Follow us</span><span class="footer-copyright-results-head"><i class="fas fa-headphones" aria-hidden="true"></i></span>
  </div>
  <div class="footer-links-results">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>



