<% content_for :meta_title, "#{@festival.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% #content_for :meta_image, cl_image_path('cover.jpg')%>

<div class="navbar-gttf">
<!-- Logo -->
  <a href="/" class="navbar-gttf-brand">
    <!-- <img src="images/logo.png" alt="logo"> -->
  </a>

  <!-- Right Navigation -->
  <div class="navbar-gttf-right hidden-xs hidden-sm">

    <%= link_to "Get to the fest", root_path, class:"title-navbar" %>

  <!-- Profile picture with dropdown list -->
    <div class="navbar-gttf-item">
      <div class="dropdown">
        <%= link_to root_path do %>
          <img src="<%=image_path('rock-hand.png')%>", class="avatar", id="navbar-gttf-menu" data-toggle="">
        <% end %>
        <!-- <ul class="dropdown-menu dropdown-menu-right navbar-gttf-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Log Out</a></li>
        </ul> -->
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-gttf-item hidden-md hidden-lg">
    <div class="dropdown">
      <!-- <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-gttf-dropdown-menu">
        <li><a href="#">Host</a></li>
        <li><a href="#">Trips</a></li>
        <li><a href="#">Messagese</a></li>
      </ul> -->
    </div>
  </div>
</div>

<div class="yellow-container-results">
  <div class="container">
    <div class="row">

        <div class="col-md-8 col-md-offset-2">
          <div class="card-black">
            <!-- Front of the card -->
            <div class="front">
              <div class="pad">
                <h2 id="title-fest" style="font-family: 'Lobster', cursive;" ><%= @festival.name.downcase.capitalize %></h2>
                <div id="title-place">
                  <div class="flex-align-colle">
                    <h2 id="city" style="font-family: 'Roboto', sans-serif;"><%= @festival.city %></h2>
                    <h2 class="text-bold" id="country" style="font-family: 'Roboto', sans-serif;">/ <%= @festival.country.upcase %></h2>
                  </div>
                </div>
                <div class="title-affinity" style="font-family: 'Roboto', sans-serif;">
                </div>
                <div class="card-date" style="font-family: 'Roboto', sans-serif;">
                  <h3 class="month" style="font-family: 'Roboto', sans-serif;"><%= Time.parse(@festival.start_date).strftime('%B').upcase %></h3>
                  <h2 class="day" style="font-family: 'Lobster', cursive;"> <%= Time.parse(@festival.start_date).day %> </h2>
                  <h3 style="color:white; margin:0; font-weight:bold; font-family: 'Roboto', sans-serif;">>></h3>
                  <h3 class ="month" style="font-family: 'Roboto', sans-serif;"><%= Time.parse(@festival.start_date).strftime('%B').upcase %></h3>
                  <h2 class="day" style="font-family: 'Lobster', cursive;"><%= Time.parse(@festival.start_date).day %></h2>
                </div>
                <!-- <span class="check" style="font-family: 'Roboto', sans-serif;">Check the </span> --><span class="line" style="font-family: 'Lobster', cursive;">Line Up</span>
                <div class="btn-turn">
                  <div class="btn-get-turn"><p><i class="fas fa-arrow-right"></i></p></div>
                </div>
              </div>
            </div>
            <!-- Back of the card -->
            <div class="back">
              <div class="btn-line-up">
                  <div class="btn-get-line-up">X</div>
              </div>
              <h2 id="title-fest" style="font-family: 'Lobster', cursive;" ><%= @festival.name.downcase.capitalize %></h2>
              <div id="title-place-back">
                <div class="flex-align-colle">
                  <h2 id="city" style="font-family: 'Roboto', sans-serif;"><%= @festival.city %></h2>
                  <h2 class="text-bold" id="country" style="font-family: 'Roboto', sans-serif;">/ <%= @festival.country.upcase %></h2>
                </div>
              </div>
              <div class="title-affinity-back" style="font-family: 'Roboto', sans-serif;">
              </div>
              <span class="card-date-back" style="font-family: 'Roboto', sans-serif;">
                <span class="day-back" style="font-family: 'Lobster', cursive;"> <%= Time.parse(@festival.start_date).day %> </span>
                <span class="month-back" style="font-family: 'Roboto', sans-serif;"><%= Time.parse(@festival.start_date).strftime('%B').upcase %></span>
                <span style="color:white; margin:0; font-weight:bold; font-family: 'Roboto', sans-serif;">>></span>
                <span class="day-back" style="font-family: 'Lobster', cursive;"><%= Time.parse(@festival.start_date).day %></span>
                <span class ="month-back" style="font-family: 'Roboto', sans-serif;"><%= Time.parse(@festival.start_date).strftime('%B').upcase %></span>
              </span>
              <div class="player">
                <iframe src="<%= @festival.playlist %>" width="700" height="100" frameborder="0" allowtransparency="true" allow="encrypted-media" style="padding: 10px;"></iframe>
              </div>
            </div>
            <div class="line-up line-up-close">
              <div class="line-up-content line-up-content-close" style="font-family: 'Roboto', sans-serif;">
                <% @festival.artists.each do |artist| %>
                  <div class="content-line-up">
                    <div class="line-up-content-desc-img"><img src=<%="#{Artist.find_by(name: artist.name).picture}"%> style="height: 100px; width: 100px; border-radius: 50%; border: 2px white solid; margin-left: 3px; margin-bottom: 10px;" alt=""></div>
                    <span style="margin-left: 8px; font-weight: bold; font-family: 'Lobster', cursive;"><%= artist.name.capitalize %></span>
                  </div>
                <% end %>
              </div>
              <div class="btn-line-up-book">
                  <div class="btn-get-line-up-book">Book tickets</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-md-offset-3">
          <img src="<%=image_path('renard.png')%>" style="margin-top:90px; height: 300px; width: 500px;" alt="">
        </div>

    </div>
  </div>
</div>

<!-- Footer -->
<div class="footer-results">
  <div class="footer-copyright-results">
    <span class="footer-copyright-results-text">Follow us</span><span class="footer-copyright-results-head"><i class="fas fa-headphones" aria-hidden="true"></i></span>
  </div>
  <div class="footer-links-results">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>

